/*general style*/

/*disable text selection*/
body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

/*general styling for slides*/
.slide {
	padding: 30px;
	margin: 10px auto 10px auto;
    border: 5px solid;
    width: 800px;
    font-size: 14px;
    text-align: center;
}

/*text styles*/
#title-text {
	font-size: 28px;
	color: darkred;
	margin-bottom: 20px;
}

p.fun-text {
	font-size: 20px;
	color: rgb(250, 90, 0);
	margin: 20px auto 20px auto;
}

p.legal {
	text-align: justify;
	font-size: 10px;
	/*font-style: italic;*/
}

.survey-descrip {
    width: 600px;
    margin: 10px auto 10px auto;
    text-align: justify;
}

.progress-text {
	text-align: center;
	font-style: italic;
	font-size: 12px;
}

#question-text {
	font-weight: bold;
}

/*buttons*/
.btn {
	background-color: rgb(240, 240, 240);
	/*font-family: "Bookman Old Style", Bookman, serif;*/
	/*color: rgb(240, 220, 260);*/
	font-size: 16px;
	padding: 8px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	border: none;
	margin: 5px;
}

.btn:hover {
	background-color: rgba(250, 90, 0, .2);
}

.btn[name="response"] {
	font-size: 12px;
	width: 85px;
}

button:focus {
	outline:0 !important;
}

/*images*/
img {
	border: 2px solid black;
	width: 500px;
	margin-top: 30px;
	margin-bottom: 10px
}

img#endingpic {
	width: 500px;
}


/*inputs*/
input {
	background-color: rgb(250,250,250);
	font-family: "Bookman Old Style", Bookman, serif;
	color: rgb(250, 90, 0);
	font-size: 12px;
	padding: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	border: none;
	margin: 5px;
}

input:focus {
	outline:0 !important;
}


/*progress bar stuff from bootstrap css*/
.progress{
	height: 10px;
	margin-bottom: 0px;
	overflow: hidden;
	background-color: rgba(250, 90, 0, .1);
	border-radius: 4px;
}

.progress-bar{
	float: left;
	width: 0;
	height: 100%;
	line-height: 20px;
	text-align: center;
	background-color: rgba(250, 90, 0, 1);
	-webkit-transition: width .6s ease;-o-transition:width .6s ease;
	transition: width .6s ease
}
